
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables.scss";

@import "bootstrap.css";

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

// tablets
@media only screen and (max-width: 768px) {
  .title {
    font-size: 40px !important;
  }
}

p {
  text-align: justify;

  @media only screen and (max-width: 768px) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

h2 {
  text-transform: uppercase;
  padding-bottom: 30px;

  @media only screen and (max-width: 768px) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

h5 {
  text-transform: uppercase;
  padding-bottom: 10px;
}

.padding-top-10 {
  padding-top: 10px;
}

.flex-header {
  display: flex;
  padding-left: 100px;
  width: 100%;
  height: 400px;
  justify-content: left;
  align-items: center;
  background-image: url(../img/header1.png);
  background-size: 100% 400px;

  .title {
    color: $gold;
    font-weight: 400;
    font-size: 50px;
    border-radius: 10px;
    text-decoration: none;
  }
}

.navbar {
  width: 100%;

  a {
    color: $black !important;
  }
}

.image {
  padding: 20px 5px;
}

.program {
  .filler {
    width: 30px;
  }
}

.align-center {
  display: flex;
  justify-content: center;
}

.content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.bg-golden {
  background-color: $bg-gold !important;
}

//contacts page
.namecards {
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;

  .namecard {
    border: 1px solid $bg-gold;
    margin: 3px;

    h3 {
      margin-bottom: 0;
      padding-bottom: 0;
    }

    p {
      margin: 3px 0;
    }

    .field-role {
      margin-bottom: 10px;
      font-style: italic;
    }
  }
}
.faqform {
  margin-bottom: 50px;
  display: none !important;

  .form-heading {
    display: block;
    width: 100%;
    margin: 30px 0 30px 0;
  }

  .sendButton {
    display: block !important;
    margin: 0 auto !important;
    color: $black;
    background-color: $gold;
    border: 0;
    transition: all 0.5s ease-in-out;
  }

  .sendButton:hover {
    background-color: $bg-gold;
  }
}

.gallery {
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;

  .img-fluid {
    margin-top: 10px;

    @media only screen and (min-width: 768px) {
      max-width: 19%;
    }
  }
}


